.c-header {
	&__inner {
		background: #fff;
	}
	&__inner2 {
		border-bottom: 1px solid #ddd;
	}
	&__inner3 {
		border-bottom: 1px solid #ddd;
		position: relative;
		@include sp {
			height: 59px;
		}
	}
	&__wrap {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		@include sp {
			padding: 0 20px;
		}
	}
	&__menu {
		display: flex;
		width: 82%;
		justify-content: space-between;
		@include sp {
			overflow-y: scroll;
			display: block;
			width: 100%;
			max-height: calc(100vh - 59px);
			position: absolute;
			top : 59px;
			left: 0;
			z-index: 999;
			background-color: rgba(247,247,247, 1);
		}
	}
	&__txt {
		font-size: 1.4rem;
		color: #333;
		padding: 18px 0;
	}
	&__cart {
		display: flex;
		li {
			height: 100%;
		}
		a {
			display: flex;
			align-items: center;
			text-decoration: none;
			color: #333;
			font-size: 1.4rem;
			height: 100%;
			padding: 5px 20px;
			box-sizing: border-box;
		}
		.cart {
			position: relative;
			a {
				background: #006689;
				color: #fff;
			}
		}
		&__box {
			padding: 60px 12px;
			text-align: center;
			font-size: 1.5rem;
			color: #333;
			background: #fff;
			border: 1px solid #ddd;
			width: 322px;
			position: absolute;
			top: auto;
			right: 0;
			z-index: 10;
		}
	}
	&__cartsp {
		width: 69px;
		height: 59px;
		background: #0097cc;
		position: absolute;
		top: auto;
		right: 69px;
		a {
			text-decoration: none;
			font-size: 1.4rem;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
		}
		&__box {
			width: 100vw;
			left: 0;
			background: #fff;
			position: absolute;
		}
	}
	&__cartspBox {
		width: 100%;
		background-color: rgba(255, 255, 255, 1);
		padding: 20px 12px;
		border: 1px solid #ddd;
		font-size: 1.4rem;
		color: #333;
		text-align: center;
		position: absolute;
		top: 58px;
		left: 0;
		z-index: 1000;
	}
	&__logo {
		padding-top: 25px;
		@include sp {
			padding-top: 15px;
			img {
				width: 76px;
				height: auto;
			}
		}
	}
	&__navi {
		width: 89%;	
		height: 101px;
		@include sp {
			width: 100%;
			height: auto;
		}
	}
	&__search {
		padding: 35px 9px 0 0;
		position: relative;
		@include sp {
			padding: 0;
		}
	}
	&__searchIcon {
		text-decoration: none;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 32px;
		height: 32px;
		background: #ddd;
		border-radius: 50px;
		cursor: pointer;
		@include sp {
			display: none;
		}
	}
	&__searchForm {
		width: 280px;
		position: absolute;
		top: 100%;
		right: 0;
		@include sp {
			position: static;
			width: 100%;
			padding: 20px;
		}
		form {
			position: relative;
		}
		input[type='text'] {
			background: #fff;
			border: 1px solid #ddd;
			line-height: 45px;
			width: 100%;
			height: 45px;
			padding: 0 18px;
			box-sizing: border-box;
			@include sp {
				position: relative;
			}
		}
		input[type='submit'] {
			@include sp {
				width: 50px;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
	&__button {
		width: 69px;
		height: 59px;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		span {
			width: 20px;
			height: 2px;
			background: #000;
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			&:nth-child(1) {
				top: 25px;
			}
			&:nth-child(2) {
				top: 30px;
			}
			&:nth-child(3) {
				top: 35px;
			}
		}
	}
}

.c-menu {
	display: flex;
	height: 100%;
	border-right: 1px solid #ddd;
	@include sp {
		display: block;
		border-right: none;
	}
	&__item {
		flex: 1;
		height: 100%;
		border-left: 1px solid #ddd;
		@include sp {
			border-left: none;
		}
		&:hover {
			.c-menu__link {
				&:after {
					bottom: -5px;
				}
			}
		}
	}
	&__link {
		text-decoration: none;
		color: #333;
		font-size: 1.4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: 0 5px;
		text-align: center;
		overflow: hidden;
		position: relative;
		&:hover {
			opacity: 1;
		}
		@include sp {
			display: block;
			text-align: left;
			padding: 13px 41px 13px 22px;
			box-sizing: border-box;
		}
		&:after {
			content: "";
			height: 10px;
			width: 100%;
			background: #000;
			position: absolute;
			bottom: -10px;
			left: 0;
			transition: 0.3s ease-in-out;
			@include sp {
				display: none;
			}
		}
	}
	
	.icon {
		display: none;
		width: 50px;
		height: 100%;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		i {
			display: inline-block;
			width: 8px;
			height: 8px;
			border-top: 1px solid #000;
			border-right: 1px solid #000;
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-80%) rotate(135deg);
		}
		&.is-active {
			i {
				transform: translateY(-40%) rotate(-45deg);
			}
		}
		@include sp {
			display: inline-block;
		}
	}
}

.c-submenu {
	position: absolute;
	width: 100%;
	left: 0;
	top: auto;
	background: #f7f7f7;
	@include sp {
		position: static;
		background: none;
	}
	ul {
		max-width: 1200px;
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		@include sp {
			display: block;
		}
	}
	li {
		width: 20%;
		@include sp {
			width: 100%;
		}
	}
	a {
		text-decoration: none;
		display: block;
		padding: 20px;
		@include sp {
			padding: 13px 41px 13px 35px;
		}
		&:hover {
			opacity: 1;
			.c-submenu__image {
				img {
					transform: scale(1.2);
				}
			}
		}
	}
	&__image {
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
			transition: 0.5s ease-in-out;
		}
	}
	&__text {
		text-align: center;
		color: #333;
		font-size: 1.6rem;
		margin-top: 10px;
		transition: 0.3s ease-in-out;
		@include sp {
			text-align: left;
			margin-top: 0;
			font-size: 1.4rem;
		}
	}
}

.c-submenu2 {
	width: 210px;
	background: #f7f7f7;
	position: absolute;
	top: auto;
	@include sp {
		position: static;
		width: 100%;
		background: none;
	}
	&__item {}
	&__link {
		text-decoration: none;
		font-size: 1.4rem;
		color: #333;
		display: block;
		padding: 10px 20px;
		position: relative;
		@include sp {
			padding: 13px 41px 13px 35px;
		}
		&:hover {
			opacity: 1;

		}
		.icon {
			display: inline-block;
			i {
				transform: translateY(-50%) rotate(45deg);
				@include sp {
					transform: translateY(-80%) rotate(135deg);
				}
			}
		}
	}
}


.c-submenu3 {
	width: 210px;
	background: #f7f7f7;
	position: absolute;
	top: 0;
	left: 210px;
	@include sp {
		position: static;
		width: 100%;
		background: none;
	}
	a {
		display: block;
		text-decoration: none;
		font-size: 1.4rem;
		color: #333;
		padding: 10px 20px;
		@include sp {
			padding: 13px 41px 13px 45px;
		}
		&:hover {
			background: #006689;
			opacity: 1;
			color: #fff;
		}
	}
}