@charset "UTF-8";
/*------------------------------------------------------------
  デフォルトスタイル
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
main, article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body {
  -webkit-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

button, input:not([type="text"]), select {
  margin: 0;
  cursor: pointer;
}

button, input, select {
  overflow: visible;
}

button, select {
  text-transform: none;
}

img {
  vertical-align: top;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

@media only screen and (max-width: 736px) {
  img {
    max-width: 100%;
    height: auto;
  }
  *, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

/*------------------------------------------------------------
  表示・非表示
------------------------------------------------------------*/
@media only screen and (min-width: 737px) {
  .sp_only {
    display: none !important;
  }
}

@media only screen and (max-width: 736px) {
  .pc_only {
    display: none !important;
  }
}

/*------------------------------------------------------------
  書式設定
------------------------------------------------------------*/
/* テキストの位置 */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* フォントの太さ */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
  微調整用クラス（※多用しないこと）
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
  clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
  トラッキングタグの余計なスペースを削除
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
  overflow-y: scroll;
}

#container {
  overflow: hidden;
}

.section_conts {
  margin-top: 40px;
}

.section_conts:first-child {
  margin-top: 0;
}

@media only screen and (min-width: 737px) {
  #main {
    font-size: 1.6rem;
    line-height: 2;
  }
}

@media only screen and (max-width: 736px) {
  body {
    min-width: 320px;
  }
  #main {
    font-size: 1.3rem;
    line-height: 1.75;
  }
  .section_conts {
    margin-top: 20px;
  }
  .section_conts:first-child {
    margin-top: 0;
  }
}

/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
#header {
  width: 100%;
  height: 80px;
  color: #FFF;
  background-color: #0092CE;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  line-height: 1;
}

#header .header_inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .menu_trigger {
  position: absolute;
  width: 80px;
  height: 80px;
  padding: 28px 25px;
  top: 0;
  right: 0;
  cursor: pointer;
}

#header .menu_trigger_inner {
  position: absolute;
  width: 30px;
  height: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#header .menu_trigger_inner > span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#header .menu_trigger_inner > span:nth-of-type(1) {
  top: 0;
}

#header .menu_trigger_inner > span:nth-of-type(2) {
  top: 0;
  bottom: 0;
  margin: auto 0;
}

#header .menu_trigger_inner > span:nth-of-type(3) {
  bottom: 0;
}

#header .menu_trigger.open .menu_trigger_inner > span:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
      -ms-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

#header .menu_trigger.open .menu_trigger_inner > span:nth-of-type(2) {
  opacity: 0;
}

#header .menu_trigger.open .menu_trigger_inner > span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(-45deg);
      -ms-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

@media only screen and (max-width: 736px) {
  #header {
    height: 40px;
  }
  #header .header_inner {
    padding: 0 15px;
  }
  #header .header_logo img {
    width: 90px;
  }
  #header .menu_trigger {
    width: 40px;
    height: 40px;
    padding: 14px 12.5px;
  }
  #header .menu_trigger_inner {
    width: 15px;
    height: 12px;
  }
  #header .menu_trigger_inner > span {
    height: 2px;
  }
  #header .menu_trigger.open .menu_trigger_inner > span:nth-of-type(1) {
    -webkit-transform: translateY(5px) rotate(45deg);
        -ms-transform: translateY(5px) rotate(45deg);
            transform: translateY(5px) rotate(45deg);
  }
  #header .menu_trigger.open .menu_trigger_inner > span:nth-of-type(2) {
    opacity: 0;
  }
  #header .menu_trigger.open .menu_trigger_inner > span:nth-of-type(3) {
    -webkit-transform: translateY(-5px) rotate(-45deg);
        -ms-transform: translateY(-5px) rotate(-45deg);
            transform: translateY(-5px) rotate(-45deg);
  }
}

/*------------------------------------------------------------
	#slide_menu
------------------------------------------------------------*/
#slide_menu {
  width: 250px;
  height: 100%;
  position: fixed;
  background-color: #f9f9f9;
  overflow-y: auto;
}

#slide_menu ul li a, #slide_menu ul li span {
  display: block;
  width: 100%;
  font-size: 1.6em;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid #dcdcdc;
}

#slide_menu ul li a {
  color: #0092CE;
  font-weight: bold;
}

/*------------------------------------------------------------
	パンクズリスト
------------------------------------------------------------*/
/*------------------------------------------------------------
	コンテンツ
------------------------------------------------------------*/
#conts,
.conts_inner {
  padding: 60px 40px 80px;
  margin: 80px auto 0;
}

@media only screen and (max-width: 736px) {
  #conts,
  .conts_inner {
    padding: 30px 20px 40px;
    margin-top: 40px;
  }
}

/*------------------------------------------------------------
	サイドバー
------------------------------------------------------------*/
/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
#footer {
  padding: 50px 40px;
  color: #FFF;
  background-color: #2a2730;
}

#pagetop {
  padding: 20px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: block;
  background-color: #434343;
  color: #FFF;
  border-radius: 5px;
  z-index: 1002;
}

@media only screen and (max-width: 736px) {
  #footer {
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 25px;
  }
  #pagetop {
    padding: 10px;
    bottom: 15px;
    right: 15px;
  }
}

/*------------------------------------------------------------
  見出し
------------------------------------------------------------*/
.heading01 {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.3;
}

.heading02 {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.3;
}

.heading02 a {
  color: #0092CE;
  text-decoration: none;
}

.heading02 a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 736px) {
  .heading01 {
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.8rem;
  }
  .heading02 {
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.6rem;
  }
}

/*------------------------------------------------------------
  ボタン
------------------------------------------------------------*/
/*------------------------------------------------------------
  箇条書き
------------------------------------------------------------*/
/*------------------------------------------------------------
  テーブル
------------------------------------------------------------*/
.tblWrapper table {
  width: 100%;
  width: 960px;
  border: 1px solid;
  border-collapse: collapse;
}

.tblWrapper table th, .tblWrapper table td {
  padding: 5px;
  border: 1px solid;
}

.tblWrapper table th:nth-child(1) {
  width: 100px;
}

.tblWrapper table th:nth-child(2) {
  width: 200px;
}

.tblWrapper table th:nth-child(3) {
  width: 100px;
}

@media only screen and (max-width: 736px) {
  .tblWrapper {
    -ms-overflow-x: scroll;
    overflow-x: scroll;
  }
}
